@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.link:hover {
  background-color: #8e44ad;
  color: white;
  transform: scale(1.05);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url(/client/src/assets/image.webp);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
